*{
  box-sizing:border-box;
}

body{
  font-family:Arial,Helvetica,sans-serif;
  height:100vh;
  background-image: url("./fondo.webp");
  background-size: cover;
  background-position: center center;
}
.contenedor{
  background:#3e3e3e;
  width:350px;
  margin:80px auto;
  padding:25px;
  border-radius:10px;
  box-shadow:0 8px 20px rgba(0,0,0,.2);
}
h2{text-align:center;color:#df9710}
label{display:block;margin-top:15px;font-weight:700;color:#c5850e}
input,select{
  width:100%;
  padding:8px 0;
  margin-top:5px;
  background-color: #c5850e;
  border:1px solid #664508;
  border-radius:5px;
}
button{
  width:100%;
  margin-top:20px;
  padding:10px;
  border:0;
  border-radius:5px;
  background:#996205;
  color:#df9710;
  font-size:16px;
  cursor:pointer;
}
button:hover{background:#ffac13;color: #ffee00}
.resultado,.error{margin-top:10px;text-align:center;min-height:24px}
.resultado{padding:10px;background:#f2f2f2;border-radius:5px;font-size:18px}
.error{color:red}
.cabecera,.acciones{margin-bottom:10px}
.usuario{text-align:center;font-size:13px;color:#444;margin-bottom:8px}
.roles{color:#666}
.btn-sec{
  display:inline-block;
  padding:8px 12px;
  border:1px solid #ccc;
  border-radius:6px;
  text-decoration:none;
  color:#333;
  background:#f7f7f7;
}
.btn-sec:hover{filter:brightness(.97)}
